/* global CSS variables, if needed */
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

hr {
	border:none;
	height: 2px;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
input {
	font-size: '12px';
}
/* css addition for leaflet-draw*/
.sr-only {
    display: none;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 1px solid rgba(0,0,0,0.2);
}