# See https://help.github.com/ignore-files/ for more about ignoring files.

# private
/config/dev.js
/config/test.js
/config/_pdubs.txt
/config/nates_key.pem
/config/putty_key.ppk
/bin/config_db.py
/bin/_config_test.py
/bin/sql

# dependencies
/node_modules
/client/node_modules

# testing
app-test.js
/client/coverage
/db/temp
/bin/test

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*



.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml



# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

