div.leaflet-draw > .leaflet-draw-section:nth-child(2){
    display: none
}
div.leaflet-control-container .leaflet-top {
    z-index: 1500;
}
div.leaflet-control-container .leaflet-draw{
    transform: rotate(90deg);
    left: 150px;
    top: -19px;
}